@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam.eot");
  src: url("../fonts/Shabnam.eot?#iefix") format("Shabnam-opentype"), url("../fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  direction: rtl;
  box-sizing: border-box;
  font-size: inherit;
  font-family: Shabnam; }

body {
  background-color: lightgray; }

html {
  font-size: 80%; }

.layout {
  display: flex;
  flex-direction: column; }

.section-header {
  font-family: Shabnam;
  margin: 1rem 3rem;
  background-image: linear-gradient(to right bottom, rgba(255, 204, 0, 0.8), rgba(255, 140, 0, 0.8)), url(../img/classroom-1.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-header__heading-1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
  .section-header__subheading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .section-header__description {
    width: 70%;
    font-size: 1.5rem;
    text-align: justify; }

.section-taught {
  margin-bottom: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center; }
  .section-taught__header {
    font-size: 2.5rem; }
  .section-taught__adults {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    background: rgba(122, 146, 139, 0.7);
    margin-top: 2rem;
    padding-top: 2rem; }
  .section-taught__tab-header {
    font-size: 1.9rem;
    background-color: darkgrey;
    display: inline;
    overflow: hidden;
    padding-right: .5rem;
    padding-left: .5rem;
    position: absolute;
    border-radius: 3px;
    right: 0;
    top: -1rem; }
  .section-taught__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    background-color: lightgray; }
    .section-taught__items__card {
      width: 15rem;
      background-color: darkgoldenrod;
      margin: 2rem;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all .2s;
      position: relative; }
      .section-taught__items__card:hover {
        transform: translateY(-1rem) scale(1.1); }
    .section-taught__items__img {
      margin-top: 2rem;
      margin-bottom: .5rem;
      width: 12rem;
      height: auto;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); }
    .section-taught__items__caption {
      font-weight: 700;
      background-color: goldenrod;
      margin-bottom: 2rem;
      top: 3rem;
      left: -1rem;
      padding: .4rem;
      border-radius: 3px;
      transform: rotate(-45deg);
      position: absolute;
      box-shadow: 2px 2px 2px; }
      .section-taught__items__caption-1 {
        top: 1.8rem;
        left: -.1rem; }
      .section-taught__items__caption-2 {
        top: 1.4rem;
        left: -0rem; }
      .section-taught__items__caption-3 {
        top: 2.3rem;
        left: -.3rem; }
      .section-taught__items__caption-4 {
        top: 3.6rem;
        left: -.8rem; }
      .section-taught__items__caption-5 {
        top: 2.5rem;
        left: -.4rem; }
      .section-taught__items__caption-6 {
        top: 1.7rem;
        left: -.1rem; }
      .section-taught__items__caption-7 {
        top: 2.75rem;
        left: -.5rem; }
      .section-taught__items__caption-8 {
        top: 3.5rem;
        left: -.8rem; }
      .section-taught__items__caption-9 {
        top: 2.5rem;
        left: -.4rem; }

.section-courses {
  margin-top: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
  height: 45rem;
  background-color: goldenrod;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  text-align: center;
  /*    &__list {
        font-size: 1.5rem;
        list-style: none;

        &-item {
            display: inline-block;
            margin: 2rem 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 3px;
            background-color: darkgoldenrod;
            box-shadow: 3px 3px 3px rgba(black,.2);
        }
    }*/ }
  .section-courses__header {
    padding-top: 8rem; }

.tabs {
  max-width: 90%;
  float: none;
  list-style: none;
  padding: 0;
  margin: 7.5rem auto; }

.tabs:after {
  content: '';
  display: table;
  clear: both; }

.tabs input[type=radio] {
  display: none; }

.tabs label {
  display: block;
  float: left;
  width: 25%;
  color: black;
  font-size: 1.4rem;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  /* Safari 3.1 to 6.0 */
  transition: all 0.2s; }

.tabs label i {
  padding: .5rem;
  margin-right: 0; }

.tabs label:hover {
  color: black;
  border-bottom: 4px solid black; }

.tab-content {
  display: none;
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  background-color: goldenrod; }

.tab-content * {
  -webkit-animation: scale 0.2s ease-in-out;
  -moz-animation: scale 0.2s ease-in-out;
  animation: scale 0.2s ease-in-out; }

@keyframes scale {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  50% {
    transform: scale(1.01);
    opacity: 0.5; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.tabs [id^="tab"]:checked + label {
  background: goldenrod;
  border-bottom: 4px solid black; }

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3,
#tab4:checked ~ #tab-content4 {
  display: block; }

@media (min-width: 768px) {
  .tabs i {
    padding: 5px;
    margin-right: 10px; }
  .tabs label span {
    display: inline-block; }
  .tabs {
    max-width: 750px;
    margin: 50px auto; } }

.footer {
  height: auto;
  padding-top: 1rem;
  background-color: #222;
  position: relative;
  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .footer__social-media {
    /*display: block;
        position: absolute;
        bottom:0;
        right: 0;*/
    align-self: center;
    padding-bottom: 0;
    padding-top: 1rem; }
  .footer__copyright {
    border-top: 1px solid rgba(218, 165, 32, 0.2);
    color: rgba(218, 165, 32, 0.7);
    align-self: center; }
  .footer__social-label {
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgba(218, 165, 32, 0.7);
    background-color: rgba(49, 45, 48, 0.7); }
  .footer__contacts {
    font-size: 1.3rem;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column; }
    .footer__contacts-header {
      color: rgba(218, 165, 32, 0.7); }
  .footer__list {
    direction: ltr;
    list-style: none;
    line-height: 2.5rem; }
    .footer__list-item {
      color: rgba(211, 211, 211, 0.7); }
    .footer__list-item span {
      font-weight: bold; }

.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem; }

.icon-instagram {
  fill: orange; }

.icon-telegram {
  fill: #00b1ec; }

.icon-whatsapp {
  fill: #098528; }

.icon-mail {
  fill: #e93838; }

.icon-mobile {
  fill: #979299; }

.icon-location {
  fill: red;
  display: none; }

.icon-linkedin {
  fill: white;
  display: none; }

.section-contact {
  height: auto;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center; }
  .section-contact__via {
    display: flex;
    flex-wrap: wrap;
    margin: 0 15%;
    padding: 1rem 0;
    border: 1px dashed rgba(0, 0, 0, 0.8);
    background-color: goldenrod;
    transition: all .5s;
    border-radius: 3px;
    /*&:hover {
            transform: scale(1.05);
        }*/ }
    .section-contact__via > * {
      font-size: 2rem; }
    .section-contact__via__email-label, .section-contact__via__phone-label {
      flex: 0 0 30%; }
    .section-contact__via__email-value, .section-contact__via__phone-value {
      flex: 0 0 70%; }

.u-bottom-margin-med {
  margin-bottom: 2rem !important; }
