@font-face {
  font-family: Shabnam;
  src: url("../fonts/Shabnam.eot");
  src: url("../fonts/Shabnam.eot?#iefix") format("Shabnam-opentype"), url("../fonts/Shabnam.woff") format("woff"), url("../fonts/Shabnam.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  direction: rtl;
  box-sizing: border-box;
  font-size: inherit;
  font-family: Shabnam; }

body {
  background-color: lightgray; }

html {
  font-size: 62.5; }

.layout {
  display: flex;
  flex-direction: column; }

.section-header {
  font-family: Shabnam;
  margin: 1rem;
  background-image: linear-gradient(to right bottom, rgba(255, 204, 0, 0.8), rgba(255, 140, 0, 0.8)), url(../img/classroom-1.jpeg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-header__heading-1 {
    font-size: 4rem;
    margin-bottom: 1rem; }
  .section-header__subheading {
    font-size: 1.5rem;
    margin-bottom: 1rem; }

.section-taught {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-taught__header {
    font-size: 3rem; }
  .section-taught__items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .section-taught__items__card {
      width: 25rem;
      background-color: darkgoldenrod;
      margin: 2rem;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all .2s;
      position: relative; }
      .section-taught__items__card:hover {
        transform: translateY(-1rem) scale(1.1); }
    .section-taught__items__img {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 18rem;
      height: 26rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); }
    .section-taught__items__caption {
      font-weight: 700;
      background-color: goldenrod;
      margin-bottom: 2rem;
      top: 3rem;
      left: -1rem;
      padding: 1rem;
      border-radius: 3px;
      transform: rotate(-45deg);
      position: absolute; }
      .section-taught__items__caption-1 {
        top: 3.4rem;
        left: -.4rem; }
      .section-taught__items__caption-2 {
        top: 3.4rem;
        left: -.4rem; }
      .section-taught__items__caption-3 {
        top: 4.6rem; }

.section-courses {
  height: 50rem;
  background-color: goldenrod;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  text-align: center; }
  .section-courses__header {
    margin-top: 6rem; }
  .section-courses__list {
    font-size: 1.5rem;
    list-style: none; }
    .section-courses__list-item {
      display: inline-block;
      margin: 2rem 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 3px;
      background-color: darkgoldenrod;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); }

.footer {
  height: 20rem;
  margin-top: -10rem;
  padding-top: 10rem;
  background-color: #222;
  position: relative;
  z-index: -100;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .footer__social-media {
    /*display: block;
        position: absolute;
        bottom:0;
        right: 0;*/
    margin-bottom: 0; }
  .footer__copyright {
    border-top: 1px solid rgba(218, 165, 32, 0.2);
    margin-top: -1rem;
    color: goldenrod; }

.icon {
  display: inline-block;
  width: 3rem;
  margin-left: 2rem;
  margin-right: 2rem; }

.icon-instagram {
  fill: orange; }

.icon-telegram {
  fill: #00b1ec; }

.u-bottom-margin-med {
  margin-bottom: 2rem !important; }
